USE [KSS_AdarshDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 16-02-2025 15:35:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookingMaster]    Script Date: 16-02-2025 15:35:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingMaster](
	[BookingId] [int] IDENTITY(1,1) NOT NULL,
	[ServiceId] [int] NULL,
	[ClientName] [varchar](150) NULL,
	[MobileNo] [bigint] NULL,
	[EmailId] [varchar](150) NULL,
	[CurrentCity] [int] NULL,
	[Address] [varchar](500) NULL,
	[LocationOfShooting] [int] NULL,
	[Remark] [varchar](300) NULL,
	[ShootingDate] [datetime] NULL,
	[Status] [varchar](50) NULL,
	[Price] [int] NULL,
	[Created_On] [datetime] NULL,
 CONSTRAINT [PK_BookingMaster] PRIMARY KEY CLUSTERED 
(
	[BookingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CityMaster]    Script Date: 16-02-2025 15:35:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CityMaster](
	[CityId] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [varchar](50) NULL,
	[Created_On] [datetime] NULL,
 CONSTRAINT [PK_CityMaster] PRIMARY KEY CLUSTERED 
(
	[CityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EnquiryMaster]    Script Date: 16-02-2025 15:35:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EnquiryMaster](
	[EnquiryId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[EmailId] [varchar](100) NULL,
	[MobNo] [varchar](100) NULL,
	[QueryMsg] [varchar](100) NULL,
	[CreatedOn] [datetime] NULL,
 CONSTRAINT [PK_EnquiryMaster] PRIMARY KEY CLUSTERED 
(
	[EnquiryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FeedbackMaster]    Script Date: 16-02-2025 15:35:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FeedbackMaster](
	[FeedbackId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[EmailId] [varchar](150) NULL,
	[MobileNo] [bigint] NOT NULL,
	[TitleOfFeedback] [varchar](250) NULL,
	[FeedbackMsg] [varchar](max) NULL,
	[StarRating] [int] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
 CONSTRAINT [PK_FeedbackMaster] PRIMARY KEY CLUSTERED 
(
	[FeedbackId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoginMaster]    Script Date: 16-02-2025 15:35:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoginMaster](
	[AdminId] [varchar](150) NOT NULL,
	[Admin_Pass] [varchar](500) NOT NULL,
	[Login_Count] [int] NULL,
	[Last_Login_DT] [datetime] NULL,
	[Is_Blocked] [bit] NULL,
	[Created_On] [datetime] NULL,
	[Updated_On] [datetime] NULL,
	[VerificationCode] [varchar](50) NULL,
	[VerificationCodeExpiry] [datetime] NULL,
 CONSTRAINT [PK_LoginMaster] PRIMARY KEY CLUSTERED 
(
	[AdminId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PackageMaster]    Script Date: 16-02-2025 15:35:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PackageMaster](
	[PackageId] [int] IDENTITY(1,1) NOT NULL,
	[PackageTitle] [varchar](100) NULL,
	[Price] [bigint] NULL,
	[Detail1] [varchar](200) NOT NULL,
	[Detail2] [varchar](200) NOT NULL,
	[Detail3] [varchar](200) NOT NULL,
	[Detail4] [varchar](200) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
 CONSTRAINT [PK_PackageMaster] PRIMARY KEY CLUSTERED 
(
	[PackageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceMaster]    Script Date: 16-02-2025 15:35:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceMaster](
	[ServiceId] [int] IDENTITY(1,1) NOT NULL,
	[ServiceType] [varchar](80) NULL,
	[Category] [varchar](50) NULL,
	[Budget] [int] NULL,
	[DiscountedRate] [int] NULL,
	[Description] [varchar](max) NULL,
	[Inclusions] [varchar](500) NULL,
	[Exclusions] [varchar](500) NULL,
	[Created_On] [datetime] NULL,
	[Updated_On] [datetime] NULL,
 CONSTRAINT [PK_ServiceMaster] PRIMARY KEY CLUSTERED 
(
	[ServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServicePicMaster]    Script Date: 16-02-2025 15:35:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServicePicMaster](
	[PicId] [int] IDENTITY(1,1) NOT NULL,
	[ServiceId] [int] NULL,
	[PicFileName] [varchar](300) NULL,
	[PicFolderName] [varchar](50) NULL,
	[PicType] [varchar](20) NULL,
	[PicSize_InKB] [float] NULL,
	[Remark] [varchar](500) NULL,
	[Created_On] [datetime] NULL,
 CONSTRAINT [PK_ServicePicMaster] PRIMARY KEY CLUSTERED 
(
	[PicId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StaffMaster]    Script Date: 16-02-2025 15:35:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StaffMaster](
	[StaffId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[ImgFileName] [varchar](300) NULL,
	[ImgFolderName] [varchar](50) NULL,
	[ImgType] [varchar](50) NULL,
	[ImgSizeInKB] [float] NULL,
	[Role] [varchar](50) NULL,
	[Specialization] [varchar](50) NULL,
	[Contact] [bigint] NULL,
	[Address] [varchar](300) NULL,
	[CreatedOn] [datetime] NULL,
 CONSTRAINT [PK_StaffMaster] PRIMARY KEY CLUSTERED 
(
	[StaffId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubcribeMaster]    Script Date: 16-02-2025 15:35:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubcribeMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmailId] [varchar](50) NULL,
	[CreatedOn] [datetime] NULL,
 CONSTRAINT [PK_SubcribeMaster] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UpdatesMaster]    Script Date: 16-02-2025 15:35:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UpdatesMaster](
	[UpdateId] [int] IDENTITY(1,1) NOT NULL,
	[UpdateMsg] [varchar](300) NULL,
	[CreatedOn] [datetime] NULL,
 CONSTRAINT [PK_UpdatesMaster] PRIMARY KEY CLUSTERED 
(
	[UpdateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BookingMaster] ON 

INSERT [dbo].[BookingMaster] ([BookingId], [ServiceId], [ClientName], [MobileNo], [EmailId], [CurrentCity], [Address], [LocationOfShooting], [Remark], [ShootingDate], [Status], [Price], [Created_On]) VALUES (31, 1044, N'Anil Kumar Pal', 9987765677, N'anil@gmail.com', 3, N'Lions english medium school and junior college,wani', 3, N'sdfgh werty ertyu', NULL, NULL, NULL, CAST(N'2025-02-15T15:12:55.717' AS DateTime))
INSERT [dbo].[BookingMaster] ([BookingId], [ServiceId], [ClientName], [MobileNo], [EmailId], [CurrentCity], [Address], [LocationOfShooting], [Remark], [ShootingDate], [Status], [Price], [Created_On]) VALUES (32, 1044, N'Anil Kumar Pal', 9987765677, N'anil@gmail.com', 3, N'Lions english medium school and junior college,wani', 3, N'sdfgh werty ertyu', NULL, NULL, NULL, CAST(N'2025-02-15T15:13:45.947' AS DateTime))
SET IDENTITY_INSERT [dbo].[BookingMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[CityMaster] ON 

INSERT [dbo].[CityMaster] ([CityId], [CityName], [Created_On]) VALUES (1, N'sultanpur', NULL)
INSERT [dbo].[CityMaster] ([CityId], [CityName], [Created_On]) VALUES (2, N'Jaunpur', NULL)
INSERT [dbo].[CityMaster] ([CityId], [CityName], [Created_On]) VALUES (3, N'Prataparh', NULL)
SET IDENTITY_INSERT [dbo].[CityMaster] OFF
GO
INSERT [dbo].[LoginMaster] ([AdminId], [Admin_Pass], [Login_Count], [Last_Login_DT], [Is_Blocked], [Created_On], [Updated_On], [VerificationCode], [VerificationCodeExpiry]) VALUES (N'adarsh9221@gmail.com', N'adarsh9221', 1, CAST(N'2025-02-15T20:00:01.347' AS DateTime), NULL, NULL, CAST(N'2025-02-15T20:00:01.350' AS DateTime), NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[PackageMaster] ON 

INSERT [dbo].[PackageMaster] ([PackageId], [PackageTitle], [Price], [Detail1], [Detail2], [Detail3], [Detail4], [CreatedOn]) VALUES (6, N'Pre-wedding Shoot', 29999, N'1 Artistic/Candid Photographer', N'5 to 8 hours of Coverage', N'Unlimited photos soft copy', N'1 Magazine Style Album', CAST(N'2025-02-15T20:12:55.067' AS DateTime))
INSERT [dbo].[PackageMaster] ([PackageId], [PackageTitle], [Price], [Detail1], [Detail2], [Detail3], [Detail4], [CreatedOn]) VALUES (7, N'Engagement Packages', 35000, N'1 Artistic/Candid Photographer', N'1 Traditional Videographer', N'1 Traditional Photographer', N'1 Classic Album', CAST(N'2025-02-15T20:13:57.643' AS DateTime))
INSERT [dbo].[PackageMaster] ([PackageId], [PackageTitle], [Price], [Detail1], [Detail2], [Detail3], [Detail4], [CreatedOn]) VALUES (8, N'Wedding Shoot', 22000, N'1 Traditional Photographer', N'1 Traditional Videographer', N'Unlimited Photos', N'30 sit Album', CAST(N'2025-02-15T20:15:31.970' AS DateTime))
SET IDENTITY_INSERT [dbo].[PackageMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[StaffMaster] ON 

INSERT [dbo].[StaffMaster] ([StaffId], [Name], [ImgFileName], [ImgFolderName], [ImgType], [ImgSizeInKB], [Role], [Specialization], [Contact], [Address], [CreatedOn]) VALUES (6, N'Amit Jaiswal', N'member_xq00qjwa.ood.jpg', N'Uploads', N'.jpg', 69, N'Photography', N'Traditional Photography', 6306613966, N'Shankargarh', CAST(N'2025-02-15T20:03:28.117' AS DateTime))
INSERT [dbo].[StaffMaster] ([StaffId], [Name], [ImgFileName], [ImgFolderName], [ImgType], [ImgSizeInKB], [Role], [Specialization], [Contact], [Address], [CreatedOn]) VALUES (7, N'Pankaj Jaiswal', N'panka_z5pswkon.r4z.jpg', N'Uploads', N'.jpg', 87, N'Photography', N'Traditional Photography', 7897683622, N'Korao', CAST(N'2025-02-15T20:04:30.220' AS DateTime))
INSERT [dbo].[StaffMaster] ([StaffId], [Name], [ImgFileName], [ImgFolderName], [ImgType], [ImgSizeInKB], [Role], [Specialization], [Contact], [Address], [CreatedOn]) VALUES (8, N'Nikhil Jaiswal', N'nikhiljaiswa_bryw3qbr.rn2.jpg', N'Uploads', N'.jpg', 88, N'Professional Photographer', N'Candid Photography', 8081143880, N'Shankargarh', CAST(N'2025-02-15T20:08:43.363' AS DateTime))
SET IDENTITY_INSERT [dbo].[StaffMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[SubcribeMaster] ON 

INSERT [dbo].[SubcribeMaster] ([Id], [EmailId], [CreatedOn]) VALUES (7, N'poonampal123@gmail.com', CAST(N'2025-02-15T17:05:57.943' AS DateTime))
INSERT [dbo].[SubcribeMaster] ([Id], [EmailId], [CreatedOn]) VALUES (8, N'palpoonamarvind5612@gmail.com', CAST(N'2025-02-15T20:32:57.663' AS DateTime))
INSERT [dbo].[SubcribeMaster] ([Id], [EmailId], [CreatedOn]) VALUES (9, N'palpoonamarvind5612@gmail.com', CAST(N'2025-02-15T20:32:57.663' AS DateTime))
SET IDENTITY_INSERT [dbo].[SubcribeMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[UpdatesMaster] ON 

INSERT [dbo].[UpdatesMaster] ([UpdateId], [UpdateMsg], [CreatedOn]) VALUES (1002, N'zxcvbnm.', CAST(N'2025-02-14T11:49:31.790' AS DateTime))
SET IDENTITY_INSERT [dbo].[UpdatesMaster] OFF
GO
ALTER TABLE [dbo].[BookingMaster]  WITH CHECK ADD  CONSTRAINT [FK_BookingMaster_CityMaster] FOREIGN KEY([LocationOfShooting])
REFERENCES [dbo].[CityMaster] ([CityId])
GO
ALTER TABLE [dbo].[BookingMaster] CHECK CONSTRAINT [FK_BookingMaster_CityMaster]
GO
ALTER TABLE [dbo].[BookingMaster]  WITH CHECK ADD  CONSTRAINT [FK_BookingMaster_CityMaster1] FOREIGN KEY([CurrentCity])
REFERENCES [dbo].[CityMaster] ([CityId])
GO
ALTER TABLE [dbo].[BookingMaster] CHECK CONSTRAINT [FK_BookingMaster_CityMaster1]
GO
ALTER TABLE [dbo].[BookingMaster]  WITH CHECK ADD  CONSTRAINT [FK_BookingMaster_ServiceMaster] FOREIGN KEY([CurrentCity])
REFERENCES [dbo].[CityMaster] ([CityId])
GO
ALTER TABLE [dbo].[BookingMaster] CHECK CONSTRAINT [FK_BookingMaster_ServiceMaster]
GO
ALTER TABLE [dbo].[ServicePicMaster]  WITH CHECK ADD  CONSTRAINT [FK_ServicePicMaster_ServiceMaster] FOREIGN KEY([ServiceId])
REFERENCES [dbo].[ServiceMaster] ([ServiceId])
GO
ALTER TABLE [dbo].[ServicePicMaster] CHECK CONSTRAINT [FK_ServicePicMaster_ServiceMaster]
GO
